* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 1400px;
    height: 800px;
    border: 2px solid black;
    margin: 30px auto;
    /* top : 150px; */
    position: relative;
    /* background-color: skyblue; */
    overflow: hidden;
}

#drone {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    /* background-color: yellow; */
    
}

#sky {
    background-image:url("images/sky.png");
    width: 100% ;
    height: 100% ;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    /* z-index: -1; */
}


#mountain1 {
    background-image:url("images/mountain1.jpg");
    width: 105%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;

}

#mountain2 {
    background-image:url("images/mountain2.png");
    width : 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#mountain3 {
    background-image:url("images/mountain3.png");
    width : 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

#mountain4 {
    background-image:url("images/mountain4.png");
    width : 100% ;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

#person {
    background-image:url("images/person.png");
    width : 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 380px;
    z-index: 4;
}
